{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap-5.2.2-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <style>
      
      h1 {
        color: #333;
        font-size: 36px;
        font-family: Arial, sans-serif;
        text-align: center;
      }
      .texto{
        text-align: left;

      }
      .container {
        text-align: center;
        max-width: 40rem;
        margin: 0 auto;
        padding: 20px;
        background-color: #FFF;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
      }
      .boton{
        margin-top: 7%;
        background-color: aqua;
        width: 150px;
        height: 50px;
        font-size: 16px;
        text-align: center;
        border: #F2F2F2;
      }
    </style>
    <title>Confirm Password Reset</title>
  </head>
  <body >
    <div class="container" >
    
      <div class="card-body">
    <img src="{% static 'Logotipo_pianta.png'%}" width="250" >
    
    <h1>Create Password</h1>
    <p>Create a password which is hard to guess.</p>
    <form method="post" action="{% url 'password_reset_confirm' uidb64=uidb64 token=token %} " id="myForm">
    {% csrf_token %}
    <div>
      <input type="hidden" name="uid" value="{{ uid }}">
  </div>
      <div class="container2">
        <label for="new_password1">New password:</label>
        <input type="password" name="new_password1" id="new_password1" required minlength="8">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16" id = "Eye">
          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
          <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
        </svg>
        <p class="texto">
          Other tips:<br>
          -Use uncommon words<br>
          -Use non-standard uPPercaSing<br>
          -Use creative spelling<br>
          -Use non-obvi0u number & symbo1
        </p>
      </div>
      <div class="container3">
        <label for="new_password2">Confirm password:</label>
        <input type="password" name="new_password2" id="new_password2" required>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16" id = "Eye2">
          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
          <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
        </svg>
        <script>
          var eye = document.getElementById('Eye');
          var input1 = document.getElementById('new_password1')
 
          eye.addEventListener("click", function(){
            if(input1.type == "password" ){
              input1.type = "text";
     
              eye.style.opacity = 0.8;
            }else{
              input1.type = "password"; 
 
              eye.style.opacity = 0.2; 
            }
          })
          var form = document.getElementById('myForm');
          var password1 = document.getElementById('new_password1');
          var password2 = document.getElementById('new_password2');
          var nextBtn = document.getElementById('nextBtn');
          nextBtn.addEventListener('click', function(event) {
            event.preventDefault(); // previene el envío del formulario por defecto
            if (password1.value !== password2.value) {
              alert("Las contraseñas no coinciden");
              return false;
            } else {
              form.submit(); // envía el formulario si las contraseñas coinciden
            }
          });
          
        </script>
        <script>
          var eye2 = document.getElementById('Eye2');
          var input2 = document.getElementById('new_password2')
 
          eye2.addEventListener("click", function(){
            if(input2.type == "password" ){
              input2.type = "text";
     
              eye2.style.opacity = 0.8;
            }else{
              input2.type = "password"; 
 
              eye2.style.opacity = 0.2; 
            }
          })
        </script>
      </div>
      <input type="hidden" name="token" value="{{ token }}">
      <input type="hidden" name="uidb64" value="{{ uidb64 }}">

      <button class="boton"type="submit" id="nexBtn" class="d-flex justify-content-end">Next</button>
    </form>
  </div>